In [2]:
#Ref: https://www.kaggle.com/code/rtatman/tutorial-getting-n-grams/notebook
import nltk, re, string, collections
from nltk.util import ngrams

In [3]:
with open('yelp/sentiment.train.1.txt', encoding='utf8') as f:
    text = f.read()
text[:1000]

"excellent food .\nsuperb customer service .\nthey also have daily specials and ice cream which is really good .\nit 's a good toasted hoagie .\nthe staff is friendly .\ngood bar food .\ngood service .\nsoup of day is homemade and lots of specials .\ngreat place for lunch or bar snacks and beer .\nthe new range looks amazing .\nthis place was very good .\nbut the people are friendly & the food is good .\ntraditional `` mom 'n pop '' quality and perfection .\nthe best fish and chips you 'll ever enjoy and equally superb fried shrimp .\nyou will love it .\nwonderful reuben .\ngood fish sandwich .\nthis is a hidden gem , no really .\nit took us forever to find but well worth it .\nhuge sandwich !\ni added mushrooms , it was very flavorful .\nmy boyfriend got the fish sandwich , he enjoyed it as well .\nfast and friendly service .\nwill definitely be back .\nmy dad 's favorite , as he knows the original owners .\nhuge burgers , fish sandwiches , salads .\ndecent service .\nlove my hometown favorites .\nample free park"

In [4]:
with open('yelp/sentiment.train.0.txt', encoding='utf8') as f:
    text_neg = f.read()
text_neg[:1000]

'i was sadly mistaken .\nso on to the hoagies , the italian is general run of the mill .\nminimal meat and a ton of shredded lettuce .\nnothing really special & not worthy of the $ _num_ price tag .\nsecond , the steak hoagie , it is atrocious .\ni had to pay $ _num_ to add cheese to the hoagie .\nshe told me there was a charge for the dressing on the side .\nare you kidding me ?\ni was not going to pay for the dressing on the side .\ni ordered it without lettuce , tomato , onions , or dressing .\nare you kidding me ?\ni paid $ _num_ to add sauted mushrooms , onions , and cheese .\nin this case , never .\n( the hoagie bun was better than average . )\nwake up or you are going to lose your business .\nthis place has none of them .\nit is april and there are no grass tees yet .\nthere is no grass on the range .\nbottom line , this place sucks .\nsomeone should buy this place and turn it into what it should be .\nvery disappointed in the customer service .\nwe will not be back .\nthe iced tea is also terrible ta'

In [5]:
# Tokenize
tokenized = text.split()
tokenized = [i for i in tokenized if len(i)>2]
tokenized[:100]

['excellent',
 'food',
 'superb',
 'customer',
 'service',
 'they',
 'also',
 'have',
 'daily',
 'specials',
 'and',
 'ice',
 'cream',
 'which',
 'really',
 'good',
 'good',
 'toasted',
 'hoagie',
 'the',
 'staff',
 'friendly',
 'good',
 'bar',
 'food',
 'good',
 'service',
 'soup',
 'day',
 'homemade',
 'and',
 'lots',
 'specials',
 'great',
 'place',
 'for',
 'lunch',
 'bar',
 'snacks',
 'and',
 'beer',
 'the',
 'new',
 'range',
 'looks',
 'amazing',
 'this',
 'place',
 'was',
 'very',
 'good',
 'but',
 'the',
 'people',
 'are',
 'friendly',
 'the',
 'food',
 'good',
 'traditional',
 'mom',
 'pop',
 'quality',
 'and',
 'perfection',
 'the',
 'best',
 'fish',
 'and',
 'chips',
 'you',
 "'ll",
 'ever',
 'enjoy',
 'and',
 'equally',
 'superb',
 'fried',
 'shrimp',
 'you',
 'will',
 'love',
 'wonderful',
 'reuben',
 'good',
 'fish',
 'sandwich',
 'this',
 'hidden',
 'gem',
 'really',
 'took',
 'forever',
 'find',
 'but',
 'well',
 'worth',
 'huge',
 'sandwich',
 'added']

In [6]:
tokenized_neg = text_neg.split()
tokenized_neg = [i for i in tokenized_neg if len(i)>2]
tokenized_neg[:100]

['was',
 'sadly',
 'mistaken',
 'the',
 'hoagies',
 'the',
 'italian',
 'general',
 'run',
 'the',
 'mill',
 'minimal',
 'meat',
 'and',
 'ton',
 'shredded',
 'lettuce',
 'nothing',
 'really',
 'special',
 'not',
 'worthy',
 'the',
 '_num_',
 'price',
 'tag',
 'second',
 'the',
 'steak',
 'hoagie',
 'atrocious',
 'had',
 'pay',
 '_num_',
 'add',
 'cheese',
 'the',
 'hoagie',
 'she',
 'told',
 'there',
 'was',
 'charge',
 'for',
 'the',
 'dressing',
 'the',
 'side',
 'are',
 'you',
 'kidding',
 'was',
 'not',
 'going',
 'pay',
 'for',
 'the',
 'dressing',
 'the',
 'side',
 'ordered',
 'without',
 'lettuce',
 'tomato',
 'onions',
 'dressing',
 'are',
 'you',
 'kidding',
 'paid',
 '_num_',
 'add',
 'sauted',
 'mushrooms',
 'onions',
 'and',
 'cheese',
 'this',
 'case',
 'never',
 'the',
 'hoagie',
 'bun',
 'was',
 'better',
 'than',
 'average',
 'wake',
 'you',
 'are',
 'going',
 'lose',
 'your',
 'business',
 'this',
 'place',
 'has',
 'none',
 'them',
 'april']

In [7]:
# remove stop words
from nltk.corpus import stopwords
eng_stopwords = stopwords.words('english')
tokenized = [word for word in tokenized if word not in eng_stopwords]

In [8]:
tokenized_neg = [word for word in tokenized_neg if word not in eng_stopwords]

In [18]:
bigrams_pos = ngrams(tokenized,2)
list(bigrams_pos)[:10]

[('excellent', 'food'),
 ('food', 'superb'),
 ('superb', 'customer'),
 ('customer', 'service'),
 ('service', 'also'),
 ('also', 'daily'),
 ('daily', 'specials'),
 ('specials', 'ice'),
 ('ice', 'cream'),
 ('cream', 'really')]

In [19]:
bigrams_neg = ngrams(tokenized_neg,2)
list(bigrams_neg)[:10]

[('sadly', 'mistaken'),
 ('mistaken', 'hoagies'),
 ('hoagies', 'italian'),
 ('italian', 'general'),
 ('general', 'run'),
 ('run', 'mill'),
 ('mill', 'minimal'),
 ('minimal', 'meat'),
 ('meat', 'ton'),
 ('ton', 'shredded')]

In [9]:
bigrams_pos = ngrams(tokenized,2)
bigrams_pos_list = list(bigrams_pos)
bigrams_pos_list[10]

('really', 'good')

In [10]:
bigrams_neg = ngrams(tokenized_neg,2)
bigram_neg_list = list(bigrams_neg)
bigram_neg_list[10]

('shredded', 'lettuce')

In [32]:
bigram_neg_list[10] in bigram_neg_list

True

In [33]:
bigram_neg_list.index(bigram_neg_list[10] )

10

In [11]:
# count freq of bigrams
bigrams_pos = ngrams(tokenized,2)
bigram_pos_freq = collections.Counter(bigrams_pos)
bigram_pos_freq.most_common(10)

[(('love', 'place'), 4475),
 (('highly', 'recommend'), 4012),
 (('great', 'service'), 3778),
 (('great', 'food'), 3526),
 (('great', 'place'), 3122),
 (('food', 'great'), 2883),
 (('customer', 'service'), 2771),
 (('service', 'great'), 2701),
 (('good', 'food'), 2404),
 (('really', 'good'), 2224)]

In [12]:
# count freq of bigrams
bigrams_neg = ngrams(tokenized_neg,2)
bigram_neg_freq = collections.Counter(bigrams_neg)
bigram_neg_freq.most_common(10)

[(('customer', 'service'), 3027),
 (('_num_', 'minutes'), 2621),
 (('_num_', '_num_'), 1673),
 (("n't", 'even'), 1484),
 (('could', "n't"), 1036),
 (('would', "n't"), 961),
 (('going', 'back'), 949),
 (('_num_', 'stars'), 928),
 (("n't", 'back'), 798),
 (('could', 'give'), 796)]

In [13]:
bigram_neg_freq[bigram_neg_list[10]]

6

In [14]:
bigram_pos_freq[bigram_neg_list[10]]

0

In [19]:
import pandas as pd
df = pd.DataFrame()

In [20]:
bigram_all = []
pos_freq = []
neg_freq = []
for i in bigram_pos_freq:
    bigram_all.append(i)
    pos_freq.append(bigram_pos_freq[i])
    neg_freq.append(bigram_neg_freq[i])
    del bigram_neg_freq[i] 
    #print(i, bigram_pos_freq[i])
    
for i in bigram_neg_freq:
    bigram_all.append(i)
    pos_freq.append(bigram_pos_freq[i])
    neg_freq.append(bigram_neg_freq[i])
    #del bigram_neg_freq[i] 

df['bigrams'] = bigram_all
df['pos_freq'] = pos_freq
df['neg_freq']= neg_freq
df.head()

               bigrams  pos_freq  neg_freq
0    (excellent, food)       651         0
1       (food, superb)        43         0
2   (superb, customer)        10         0
3  (customer, service)      2771         0
4      (service, also)       216         0

In [21]:
df.tail()

                   bigrams  pos_freq  neg_freq
671289     (pass, nothing)         0         1
671290  (nothing, decided)         0         1
671291       (money, hear)         0         1
671292       (hear, takes)         0         1
671293     (even, dine-in)         0         1

In [25]:
sal = []
lambda_ = 1
for row in df.iterrows():
    print(row[1]['bigrams'])
    print((row[1]['pos_freq']+1)/(row[1]['neg_freq']+1))
    print('----------------')
    if(row[0]==5):
        break

('excellent', 'food')
652.0
----------------
('food', 'superb')
44.0
----------------
('superb', 'customer')
11.0
----------------
('customer', 'service')
2772.0
----------------
('service', 'also')
217.0
----------------
('also', 'daily')
5.0
----------------

In [26]:
def ngram_calc(n, tokenized_neg=tokenized_neg, tokenized_pos=tokenized):
    
    bigrams_neg = ngrams(tokenized_neg,n)
    bigram_neg_freq = collections.Counter(bigrams_neg)
    
    bigrams_pos = ngrams(tokenized_pos,n)
    bigram_pos_freq = collections.Counter(bigrams_pos)

    bigram_all = []
    pos_freq = []
    neg_freq = []
    for i in bigram_pos_freq:
        bigram_all.append(i)
        pos_freq.append(bigram_pos_freq[i])
        neg_freq.append(bigram_neg_freq[i])
        del bigram_neg_freq[i] 
    #print(i, bigram_pos_freq[i])
    
    for i in bigram_neg_freq:
        bigram_all.append(i)
        pos_freq.append(bigram_pos_freq[i])
        neg_freq.append(bigram_neg_freq[i])
    #del bigram_neg_freq[i] 
    return bigram_all, pos_freq, neg_freq

In [29]:
lambda_ = 1

df = pd.DataFrame()
bigram_all, pos_freq, neg_freq = ngram_calc(2)
df['bigrams'] = bigram_all
df['pos_freq_2'] = pos_freq
df['neg_freq_2']= neg_freq
sal_2p = []
sal_2n = []
for row in df.iterrows():
    sal_2p.append((row[1]['pos_freq_2']+lambda_)/(row[1]['neg_freq_2']+lambda_))
    sal_2n.append((row[1]['neg_freq_2']+lambda_)/(row[1]['pos_freq_2']+lambda_))
df['sal_2p'] = sal_2p
df['sal_2n'] = sal_2n
df.to_csv('yelp/2salience.csv', index=False)


df = pd.DataFrame()
bigram_all, pos_freq, neg_freq = ngram_calc(1)
df['unigrams'] = bigram_all
df['pos_freq_1'] = pos_freq
df['neg_freq_1']= neg_freq
sal_2p = []
sal_2n = []
for row in df.iterrows():
    sal_2p.append((row[1]['pos_freq_1']+lambda_)/(row[1]['neg_freq_1']+lambda_))
    sal_2n.append((row[1]['neg_freq_1']+lambda_)/(row[1]['pos_freq_1']+lambda_))
df['sal_1p'] = sal_2p
df['sal_1n'] = sal_2n
df.to_csv('yelp/1salience.csv', index=False)

df = pd.DataFrame()
bigram_all, pos_freq, neg_freq = ngram_calc(3)
df['trigrams'] = bigram_all
df['pos_freq_3'] = pos_freq
df['neg_freq_3']= neg_freq
sal_2p = []
sal_2n = []
for row in df.iterrows():
    sal_2p.append((row[1]['pos_freq_3']+lambda_)/(row[1]['neg_freq_3']+lambda_))
    sal_2n.append((row[1]['neg_freq_3']+lambda_)/(row[1]['pos_freq_3']+lambda_))
df['sal_3p'] = sal_2p
df['sal_3n'] = sal_2n
df.to_csv('yelp/3salience.csv', index=False)

df = pd.DataFrame()
bigram_all, pos_freq, neg_freq = ngram_calc(4)
df['fourgram'] = bigram_all
df['pos_freq_4'] = pos_freq
df['neg_freq_4']= neg_freq
sal_2p = []
sal_2n = []
for row in df.iterrows():
    sal_2p.append((row[1]['pos_freq_4']+lambda_)/(row[1]['neg_freq_4']+lambda_))
    sal_2n.append((row[1]['neg_freq_4']+lambda_)/(row[1]['pos_freq_4']+lambda_))
df['sal_4p'] = sal_2p
df['sal_4n'] = sal_2n
df.to_csv('yelp/4salience.csv', index=False)

df.head()

                              fourgram  pos_freq_4  neg_freq_4  sal_4p  sal_4n
0  (excellent, food, superb, customer)           1           0     2.0     0.5
1    (food, superb, customer, service)           1           0     2.0     0.5
2    (superb, customer, service, also)           1           0     2.0     0.5
3     (customer, service, also, daily)           1           0     2.0     0.5
4     (service, also, daily, specials)           1           0     2.0     0.5

In [ ]:
#>15 means attribute

In [67]:
pos_list = text.split('\n')
neg_list = text_neg.split('\n')

In [36]:
t = 'fantastic wings that are crispy and delicious , wing night on tuesday and thursday !'

In [37]:
token = t.split()
token = [i for i in token if len(i)>2]
token = [word for word in token if word not in eng_stopwords]
t_unigram = ngrams(token,1)
t_unigram_freq = collections.Counter(t_unigram)
t_unigram_freq

Counter({('fantastic',): 1,
         ('wings',): 1,
         ('crispy',): 1,
         ('delicious',): 1,
         ('wing',): 1,
         ('night',): 1,
         ('tuesday',): 1,
         ('thursday',): 1})

In [38]:
df_uni = pd.read_csv('yelp/1salience.csv')
df_uni.head()

         unigrams  pos_freq_1  neg_freq_1      sal_1p    sal_1n
0  ('excellent',)        7313          44  162.533333  0.006153
1       ('food',)       25773        8583    3.002563  0.333049
2     ('superb',)         473           5   79.000000  0.012658
3   ('customer',)        3236        3747    0.863661  1.157862
4    ('service',)       22599       10325    2.188650  0.456903

In [87]:
n = 4
dfname = 'yelp/'+str(n)+'salience.csv'
df_t = pd.read_csv(dfname)
df_t.head()

,fourgram,pos_freq_4,neg_freq_4,sal_4p,sal_4n
0,"('excellent', 'food', 'superb', 'customer')",1,0,2.0,0.5
1,"('food', 'superb', 'customer', 'service')",1,0,2.0,0.5
2,"('superb', 'customer', 'service', 'also')",1,0,2.0,0.5
3,"('customer', 'service', 'also', 'daily')",1,0,2.0,0.5
4,"('service', 'also', 'daily', 'specials')",1,0,2.0,0.5

In [101]:
df_t['fourgram'][0]

"('excellent', 'food', 'superb', 'customer')"

In [99]:
df_t.loc[df_t['fourgram'].isin(('excellent','food','superb','customer'))]

Empty DataFrame
Columns: [fourgram, pos_freq_4, neg_freq_4, sal_4p, sal_4n]
Index: []

In [103]:
df_t.loc[df_t['fourgram'] == str(('excellent', 'food', 'superb', 'customer'))]

,fourgram,pos_freq_4,neg_freq_4,sal_4p,sal_4n
0,"('excellent', 'food', 'superb', 'customer')",1,0,2.0,0.5

In [111]:
def text_to_attr(t,n, typ='p', gamma=15):
    token = t.split()
    token = [i for i in token if len(i)>2]
    token = [word for word in token if word not in eng_stopwords]
    t_unigram = ngrams(token,n)
    t_unigram_freq = collections.Counter(t_unigram)
    attr = []
    content = []
    col_names = {1:'unigrams', 2:'bigrams', 3:'trigrams', 4:'fourgram'}
    col_sal = 'sal_'+str(n)+typ
    dfname = 'yelp/'+str(n)+'salience.csv'
    df_uni = pd.read_csv(dfname)#, index=False)
    for uni in t_unigram_freq.elements():
        #print(str(uni))
        #print(df_uni.loc[df_uni['fourgram'] == str(uni)])
        qs = df_uni[col_sal].loc[df_uni[col_names[n]] == str(uni)]
        if(len(qs)>0):
            if(gamma <= float(qs)):
                attr.append(uni[0])
    #print(attr)
        
    for tw in t.split():
        if(tw not in attr):
            content.append(tw)

    content = ' '.join(content)
    attr = ' '.join(attr)
    return content, attr

In [112]:
t = 'fantastic wings that are crispy and excellent food superb customer delicious , wing night on tuesday and thursday !'
c,a= text_to_attr(t,4,'p',1)
print(t)
print(c)
print(a)

fantastic wings that are crispy and excellent food superb customer delicious , wing night on tuesday and thursday !
fantastic wings that are crispy and food superb customer , night on tuesday and thursday !
excellent delicious wing

In [ ]:
df_text = pd.DataFrame()
a1 = []
c1 = []
a2 = []
c2 = []
a3 = []
c3 = []
a4 = []
c4 = []
tt = []
senti = []
for t in pos_list:
    tt.append(t)
    senti.append('POS')
    c,a = text_to_attr(t,1,'p')
    a1.append(a)
    c1.append(c)
for t in neg_list:
    tt.append(t)
    senti.append('NEG')
    c,a = text_to_attr(t,1,'n')
    a1.append(a)
    c1.append(c)
    
df_text['sentence'] = tt
df_text['sentiment'] = senti
df_text['c1'] = c1
df_text['a1'] = a1

df_text.to_csv('yelp/clean_text_unigrams.csv', index=False)
df_text.head()

In [ ]:
df_text = pd.DataFrame()
a1 = []
c1 = []
a2 = []
c2 = []
a3 = []
c3 = []
a4 = []
c4 = []
tt = []
senti = []
for t in pos_list:
    tt.append(t)
    senti.append('POS')
    c,a = text_to_attr(t,1,'p')
    a1.append(a)
    c1.append(c)
    c,a = text_to_attr(t,2,'p')
    a2.append(a)
    c2.append(c)
    c,a = text_to_attr(t,3,'p')
    a3.append(a)
    c3.append(c)
    c,a = text_to_attr(t,4,'p')
    a4.append(a)
    c4.append(c)
for t in neg_list:
    tt.append(t)
    senti.append('NEG')
    c,a = text_to_attr(t,1,'n')
    a1.append(a)
    c1.append(c)
    c,a = text_to_attr(t,2,'n')
    a2.append(a)
    c2.append(c)
    c,a = text_to_attr(t,3,'n')
    a3.append(a)
    c3.append(c)
    c,a = text_to_attr(t,4,'n')
    a4.append(a)
    c4.append(c)
    
df_text['sentence'] = tt
df_text['sentiment'] = senti
df_text['c1'] = c1
df_text['a1'] = a1
df_text['c2'] = c2
df_text['a2'] = a2
df_text['c3'] = c3
df_text['a3'] = a3
df_text['c4'] = c4
df_text['a4'] = a4
df_text.to_csv('yelp/clean_text.csv', index=False)
df_text.head()